mixin h1(text, attrs)
  h1.h1=text

mixin h2(text, attrs)
  h2.h2=text

mixin h3(text, attrs)
  h3.h3=text

mixin h4(text, attrs)
  h4.h4=text

mixin p(text, attrs)
  p=text

mixin p--xsmall(text, attrs)
  p.font-xsmall=text

mixin p--small(text, attrs)
  p.font-small=text

mixin p--large(text, attrs)
  p.font-large=text

mixin a(text, attrs)
  a.link(href='attrs[href]') This is a web hyperlink.

mixin button(text, attrs)
  -
    let aExtraClasses = ['button']
    let sExtraClasses = ''
    if (attrs.colour) {
      if (attrs.transparent) {
        aExtraClasses.push(`button-border`)
        aExtraClasses.push(`button-transparent-${attrs.colour}`)
      }
      else {
        aExtraClasses.push(`button-${attrs.colour}`)
      }

    }
    if (attrs.size) {
      aExtraClasses.push(`button-${attrs.size}`)
    }
    sExtraClasses = aExtraClasses.join(' ')
  button(href='attrs[href]', title='attrs[title]', class=''+sExtraClasses)=text
